.categories-container {
  background-color: #e5e5e5;
  padding: 20px 15px;
  border-bottom: 4px #fde52d solid;
}

.categories-list-text {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #4d4d4d;
}

/* .categories-list li:not(:last-child) {
  margin-right: 60px;
} */

.categories-list li img {
  margin-bottom: 10px;
}

.categories-list li:hover .categories-list-text {
  color: #e65d40;
}
.categories-list li a {
  background-size: contain;
  background-position: left;
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.right {
  opacity: 0.3;
  transform: rotate(-45deg);
  margin-left: 80px;
}

.categories-list li:hover .right {
  opacity: 1;
}

.categories-list-text {
  margin-left: 15px;
  margin-right: 60px;
}
i {
  border: solid #e65d40;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/* .categories-list { стили}
.categories-list li{ стили}
.categories-list li a{ стили}
.categories-list li ul{ стили}
.categories-list li ul li{ стили} */

/* .categories-list {
  margin-top: 20px;
}


.categories-list li {
  position: relative;
  display: flex;
}

.categories-list li a{
	display: block;
	
}

.categories-list li ul{
	position: absolute;
	left: 300px;
	top: 0px;
  display: block;
}
 */

/* .categories-list li:hover ul{
	display: block;
}
.categories-list li:hover ul li ul{
	display: none;
}


.categories-list li ul li:hover ul{
	display: block;
} */
.categories-list {
  display: inline-block;
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}

.categories-list li:hover .submenu {
  display: block;
  width: 100%;
}

.subsubmenu {
  position: absolute;
  top: 0;
  left: 100%;

  display: none;
}

.submenu li:hover .subsubmenu {
  display: block;
  width: 100%;
}

.img-girl {
  background: url(/images/baby-girl1.svg);
}

.categories-list li:hover {
  border-bottom: solid 4px #e65d40;
}
.categories-list li:hover .img-girl {
  background: url(/images/baby-girl-hov.svg);
}

.baby-boy {
  background: url(/images/baby-boy.svg);
}
.categories-list li:hover .baby-boy {
  background: url(/images/baby-boy-hov.svg);
}

.diaper {
  background: url(/images/diaper.svg);
}
.categories-list li:hover .diaper {
  background: url(/images/diaper-hov.svg);
}

.teddy-bear {
  background: url(/images/teddy-bear.svg);
}
.categories-list li:hover .teddy-bear {
  background: url(/images/teddy-bear-hov.svg);
}

.feeding-bottle {
  background: url(/images/feeding-bottle.svg);
}
.categories-list li:hover .feeding-bottle {
  background: url(/images/feeding-bottle-hov.svg);
}

.stroller {
  background: url(/images/stroller.svg);
}
.categories-list li:hover .stroller {
  background: url(/images/stroller-hov.svg);
}

.by-car-seat {
  background: url(/images/baby-car-seat.svg);
}
.categories-list li:hover .by-car-seat {
  background: url(/images/baby-car-seat-hov.svg);
}

.crib {
  background: url(/images/crib.svg);
}
.categories-list li:hover .crib {
  background: url(/images/crib-hov.svg);
}

.rubber-duck {
  background: url(/images/rubber-duck.svg);
}
.categories-list li:hover .rubber-duck {
  background: url(/images/rubber-duck-hov.svg);
}

.night {
  background: url(/images/night.svg);
}
.categories-list li:hover .night {
  background: url(/images/night-hov.svg);
}

.crib-toy {
  background: url(/images/crib-toy.svg);
}
.categories-list li:hover .crib-toy {
  background: url(/images/crib-toy-hov.svg);
}

.price-tag {
  background: url(/images/price-tag.svg);
}
.categories-list li:hover .price-tag {
  background: url(/images/price-tag-hov.svg);
}
