.categories-container.active {
  display: block;
  width: 1550px;
  padding: 0px 15px;

  border-bottom: 4px #fde52d solid;
  margin: 0 auto;
  opacity: 1;
  visibility: visible;
}

.categories-container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.colums-style__list {
  columns: 200px 2;
}
.categories-container h2 {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #18192e;
  margin-bottom: 24px;
  padding-bottom: 20px;
  margin-top: 20px;
  padding-left: 20px;
  /* padding-right: 20px; */

  padding-bottom: 11px;
  border-bottom: solid 4px #fdeee8;
  width: 97%;
}

.categories-list-text {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #4d4d4d;
}

.categories-list li img {
  margin-bottom: 10px;
}

.categories-list li:hover .categories-list-text {
  color: #e65d40;
}
.categories-list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  transition: border-color 0.5s linear;
  padding-bottom: 11px;
}

.categories-list li:first-child li {
  margin-top: 20px;
}
.categories-list li li a {
  border: none;
}

.img_block {
  width: 30px;
  height: 30px;
  /* margin-bottom: 10px; */
}

.right {
  opacity: 0.3;
  transform: rotate(-45deg);
  margin-left: 80px;
}

.categories-list li:hover .right {
  opacity: 1;
}

.categories-list-text {
  margin-left: 15px;
  /* margin-right: 60px; */
}
i {
  border: solid #e65d40;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.categories-list {
  width: 257px;
  display: inline-block;
  position: relative;
}

.categories-list a ins {
  padding-right: 15px;
}

.categories-list li {
  padding-right: 15px;
  margin-bottom: 15px;
}

.categories-list li:hover a {
  border-color: #e65d40;
}
.categories-list li ul li:hover ul div.toCat {
  padding-left: 20px;
}
.categories-list li ul li:hover ul div.toCat a {
  font-family: Google Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  color: #4d4d4d;
  text-decoration: underline;
  border: none;
  width: auto;
}
.categories-list li ul li:hover ul div.toCat a:hover {
  text-decoration: none;
}

.categories-list li ul {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  width: 405px;
  /* padding-right: 20px; */
  background-color: #fdeee8;
  /* border-bottom: solid 4px rgba(0, 0, 0, 0); */
  padding-left: 30px;
}

.categories-list li ul h2 {
  border-bottom: solid 4px #fff;
  margin-bottom: 25px;
}
.categories-list li ul li {
  margin-bottom: 10px;
  border: none;
}
.categories-list li ul li:hover {
  display: block;
}

.categories-list li ul li a {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.75;
  color: #4d4d4d;
  /* border-bottom: solid 2px transparent;
  width: min-content;  */
}

.categories-list li ul li:hover a {
  color: #e65d40;
  border-bottom: solid 2px #e65d40;
  width: min-content;
  padding-bottom: 0;
  margin-bottom: 11px;
}

/* .categories-list li:hover li a {
  
  border-bottom: solid 2px transparent;
  width: min-content;
} */
.categories-list li ul li {
  padding-left: 20px;
  margin-bottom: 7px;
}
.categories-list li ul li ul {
  padding-left: 40px;
  display: none;
  background-color: #ffffff;
  width: 880px;
}

.categories-list li ul li ul h2 {
  border-bottom: solid 4px #fdeee8;
}
.categories-list li ul li ul li {
  margin-bottom: 12px;
  padding-left: 20px;
}

.categories-list li ul li:hover ul li a {
  border-bottom: none;
  color: #4d4d4d;
}

.colums-style__list div a {
  color: #4d4d4d;
}
.categories-list li:hover ul {
  display: block;
}
.categories-list li:hover ul ul {
  display: none;
}
.categories-list li ul li:hover ul {
  display: block;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 20px;
  width: 40px;
  height: 40px;
  opacity: 0.3;
  border: none;
  background: transparent;
  cursor: pointer;
}
/* @media screen and (min-width: 768px) {
  
  .categories-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 20px;
    justify-content: space-between;
  }
  .categories-list li a ins {
    display: none;
  }
  .categories-list h2 {
    display: none;
  }
  .categories-list li a {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .categories-list-text {
    margin: 0 0;
  }
} */

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* .categories-list li ul {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    background-color: #fdeee8;
    border-bottom: solid 4px rgba(0, 0, 0, 0);
    padding-left: 20px;
  } */

  .categories-list h2 {
    display: none;
  }
}

.img-girl {
  background: url(/images/baby-girl1.svg);
}

.categories-list li:hover .img-girl {
  background: url(/images/baby-girl-hov.svg);
}

/* .navMenu2 ul li:hover  */

.baby-boy {
  background: url(/images/baby-boy.svg);
}
.categories-list li:hover .baby-boy {
  background: url(/images/baby-boy-hov.svg);
}

.diaper {
  background: url(/images/diaper.svg);
}
.categories-list li:hover .diaper {
  background: url(/images/diaper-hov.svg);
}

.teddy-bear {
  background: url(/images/teddy-bear.svg);
}
.categories-list li:hover .teddy-bear {
  background: url(/images/teddy-bear-hov.svg);
}

.feeding-bottle {
  background: url(/images/feeding-bottle.svg);
}
.categories-list li:hover .feeding-bottle {
  background: url(/images/feeding-bottle-hov.svg);
}

.stroller {
  background: url(/images/stroller.svg);
}
.categories-list li:hover .stroller {
  background: url(/images/stroller-hov.svg);
}

.by-car-seat {
  background: url(/images/baby-car-seat.svg);
}
.categories-list li:hover .by-car-seat {
  background: url(/images/baby-car-seat-hov.svg);
}

.crib {
  background: url(/images/crib.svg);
}
.categories-list li:hover .crib {
  background: url(/images/crib-hov.svg);
}

.rubber-duck {
  background: url(/images/rubber-duck.svg);
}
.categories-list li:hover .rubber-duck {
  background: url(/images/rubber-duck-hov.svg);
}

.night {
  background: url(/images/night.svg);
}
.categories-list li:hover .night {
  background: url(/images/night-hov.svg);
}

.crib-toy {
  background: url(/images/crib-toy.svg);
}
.categories-list li:hover .crib-toy {
  background: url(/images/crib-toy-hov.svg);
}

.price-tag {
  background: url(/images/price-tag.svg);
}
.categories-list li:hover .price-tag {
  background: url(/images/price-tag-hov.svg);
}
