.navMenu2_text {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #4d4d4d;
}

.navMenu2Wrap {
  display: block;
  width: 1550px;
  padding: 0px 15px;
  padding-top: 20px;
  /* border-bottom: 4px #fde52d solid; */
  margin: 0 auto;
  background-color: #e5e5e5;
}

.navMenu2 ul li a img {
  margin-bottom: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.navMenu2 ul li a img.navMenu2__img__active {
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  display: none;
}
.navMenu2 ul li:hover .navMenu2_text {
  color: #e65d40;
}
.navMenu2 ul li:hover a img.navMenu2__img__active {
  display: inline-block;
}
.navMenu2 ul li:hover a img {
  display: none;
}
.img_block {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.navMenu2 ul {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navMenu2 ul li {
  padding-right: 30px;
  padding-bottom: 15px;
}

.navMenu2 ul li:hover ul {
  display: block;
}

.navMenu2 ul li:hover ul li {
  border-bottom: solid 2px transparent;
}

.navMenu2 ul li:hover ul ul li {
  border-bottom: solid 2px transparent;
}
.navMenu2 ul li:hover {
  border-bottom: solid 4px #e65d40;
}

.navMenu2 ul li a {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  color: #4d4d4d;
}

.navMenu2 ul li ul li:hover a {
  color: #e65d40;
  border-bottom: solid 2px #e65d40;
  width: min-content;
}

.navMenu2 ul li ul li:hover ul li a {
  border: none;
  color: #4d4d4d;
}

.navMenu2 ul li ul {
  position: absolute;
  top: 100%;
  left: -15px;
  display: none;
  width: 375px;
  padding-left: 15px;
  /* padding-right: 15px; */
  background-color: #fdeee8;
}
.navMenu2 ul li ul li {
  padding-bottom: 2px;
  padding-right: 15px;
  /* border-bottom: solid 4px transparent; */
}

.navMenu2 ul li:hover ul ul {
  display: none;
}

.navMenu2 ul li ul li ul {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  /* visibility: hidden;
  opacity: 0;
  transition: 0.5s linear; */
  padding-left: 30px;
  width: 1175px;
  background-color: #ffffff;
}

.navMenu2 ul li ul li:hover ul {
  display: block;
  /* visibility: visible;
  opacity: 1; */
}

.navMenu2 ul li ul li ul li {
  margin-bottom: 10px;
}
.navMenu2 h2 {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #18192e;
  margin-bottom: 24px;
  padding-bottom: 20px;
  margin-top: 20px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */

  padding-bottom: 11px;
  border-bottom: solid 4px #fff;
  width: 97%;
}

.navMenu2 ul li ul li ul h2 {
  border-bottom: solid 4px #fdeee8;
  width: 100%;
}

.navMenu2__colums-style {
  width: 75%;
  column-count: 2;
}

.banner {
  display: none;
  background-color: #9266f5;
  width: 367px;
  height: 630px;
  border-radius: 10px;
  border-top-left-radius: 100px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  left: 1170px;
  z-index: 20;
  /* left: 100%; */
  /* top: 0; */
}
.navMenu2 ul li:hover .banner {
  display: block;
}

.navMenu2 ul li ul li:hover ul div.toCat a {
  font-family: Google Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4d4d4d;
  text-decoration: underline;
  border: none;
  width: auto;
}
.navMenu2 ul li ul li:hover ul div.toCat a:hover {
  text-decoration: none;
}

.banner p {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.33;
  text-align: right;
  color: #ffffff;
  padding-top: 52px;
  padding-left: 30px;
  padding-right: 32px;
  margin-bottom: 50px;
}

.banner__fon {
  width: 305px;
  height: 213px;
  background-color: #b9a1f1;
  border-radius: 10px;
  border-top-left-radius: 50px;
  margin: 0 auto;
  position: relative;
}

.banner__fon2 {
  background: #fde52d;
  width: 154px;
  height: 108px;
  opacity: 0.9;
  border-radius: 10px;

  position: absolute;
  right: 0;
  bottom: 0;
}

.banner__fon img {
  position: absolute;
  z-index: 1;
  left: 17px;
  bottom: 0;
}
.banner button {
  font-family: Google Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #18192e;
  background: #fde52d;
  border-radius: 10px;
  width: 307px;
  height: 60px;
  margin: 0 auto;
  margin-top: 15px;
  cursor: pointer;
}
