.main-content {
  height: 1200px;
}

@font-face {
  font-family: "Google Sans";
  src: url(../fonts/GoogleSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url(../fonts/GoogleSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url(../fonts/GoogleSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
.header-container {
  width: 1550px;
  display: flex;
  background-color: #e2e9f2;
  padding: 15px 15px;
  margin: 0 auto;
}

.logo-container {
  text-align: center;
  width: 108px;
}
.logo-title-two {
  letter-spacing: 0em;
}
.logo-main {
  display: inline-block;
}
.logo-title {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5em;
  color: #35363a;
  margin-bottom: 20px;
}

.site-nav {
  display: flex;
  margin-left: 20px;
  /* margin-right: 55px; */
}
.site-nav-list:not(:last-child) {
  margin-right: 30px;
}

.site-nav-list:hover .site-nav-link {
  color: #e65d40;
}
.site-nav-link {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  color: #666666;
}
.currency-block {
  display: flex;
  margin-left: 30px;
  align-items: baseline;
}

.currency-block span {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: #666666;
}

.currency-block__link {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  color: #343434;
}

.currency-block__link.active {
  color: #e65d40;
}

.registration-block {
  display: flex;
  /* margin-left: 360px; */
  margin-left: 20%;
  align-items: center;
}

.registration-link {
  display: flex;
  align-items: center;
}

.registration-link span {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;

  display: flex;
  align-items: center;
  text-align: right;

  color: #18192e;
}
.registration-img {
  margin-left: 15px;
}
.catalog-container {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

.catalog-img {
  padding: 17px 20px;
}

.catalog-menu-text {
  font-family: Google Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #18192e;
}

.search-catalog {
  margin-left: 20px;
  display: flex;
  position: relative;
  /* margin-right: 60px; */
}

.search-catalog-input {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  /* width: 345px; */
  width: 493px;
  height: 50px;
  padding: 2px 60px 2px 35px;
}

.search-catalog__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #18192e;
  cursor: pointer;
  position: absolute;
  right: 0px;
  border: none;
  background: rgba(253, 229, 45, 0.5);
  border-radius: 5px;
  width: 108px;
  height: 50px;
}

.search-icon {
  position: absolute;
  cursor: pointer;
  left: 9px;
  top: 18px;
}

.contacts-tel {
  font-family: Google Sans;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #18192e;
}

.contacts-tel-link {
  font-family: Google Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  color: #18192e;
}
.contacts-tel-link::after {
  content: "";
  display: block;
  height: 2px;
  background: #18192e;
  opacity: 0.3;
  width: 100%;
}

.vector2-icon {
  margin-left: 10px;
  margin-right: 30px;
}

.icons-navigation-container {
  display: flex;
  margin-left: 39px;
}

.icons-navigation:not(:last-child) {
  margin-right: 35px;
  position: relative;
}

.icons-navigation img:hover {
  fill: #e65d40;
}
.icons-content {
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  width: 30px;
  height: 25px;
  text-align: center;
  position: relative;
  background: #e65d40;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  top: -52px;
  right: -30px;
}

.icons-content:hover {
  border: 1px solid #000000;
}

#link-summ {
  display: flex;
}

.icons-navigation-summ {
  /* padding-left: 20px; */
  padding-top: 6px;
}

.navigation {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}

.currency-container {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.contacts-tel_link {
  display: flex;
  align-items: center;
  margin-left: 62px;
}

@media screen and (max-width: 1520px) {
  .navMenu2Wrap {
    display: none;
  }
}

@media screen and (max-width: 1485px) {
  .contacts-tel {
    margin-top: 30px;
    margin-left: 25px;
  }
  .search-catalog {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .navigation {
    flex-wrap: wrap;
  }
  .currency-container {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    min-width: 768px;
  }

  .navMenu2Wrap {
    min-width: 768px;
  }
  .catalog-menu {
    display: flex;
    background: #fde52d;
    border-radius: 10px;
    width: 237px;
    height: 50px;
    border: none;
    margin-left: 20px;
    align-items: center;
    cursor: pointer;
  }
  .logo-main-mob {
    display: none;
  }
  .catalog-container_block div {
    display: none;
  }

  .catalog-container_block_active_menu {
    display: none;
  }
  /* .search-catalog-input {
    width: 345px;
  } */
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    border-bottom: 3px solid #fde52d;
  }
  .header-container {
    min-width: 320px;
    max-width: 767px;
    padding: 15px 10px;
    justify-content: center;
  }

  .navMenu2Wrap {
    display: none;
  }

  .logo-container {
    width: auto;
  }
  .catalog-menu {
    background-color: transparent;
  }
  .catalog-container_block_active_menu {
    display: none;
  }

  .catalog-container_block_active_menu.active {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .catalog-container_block {
    display: none;
  }

  .contacts-tel_link {
    display: none;
  }
  .registration-block {
    margin-left: 30px;
  }

  .search-catalog {
    margin-left: 0;
  }
  .search-catalog-input {
    width: 100%;
  }

  .catalog-container_block.active {
    display: flex;
    margin-bottom: 20px;
  }
  .logo-main {
    display: none;
  }
  .catalog-img {
    padding: 0;
  }
  .logo-title,
  .catalog-menu-text {
    display: none;
  }
  .navigation {
    display: none;
  }

  .icons-navigation-container {
    display: none;
  }
  .icons-navigation-container.active {
    display: flex;
  }
  .categories-container.active {
    display: block;
    padding-left: 40px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .catalog-container {
    display: block;
    margin-top: 0px;
  }

  .categories-list {
    display: block;
  }

  .catalog-container_block div {
    margin-left: 20px;
  }
  .btn {
    display: flex;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    background: transparent;
  }
  .btn_x {
    display: flex;
    border-radius: 10px;
    border: none;
    align-items: center;
    cursor: pointer;
    margin-right: 54px;
    background: transparent;
    position: absolute;
    top: 13px;
    left: 15px;
  }
  .footer-bottom_copyright {
    text-align: center;
  }
}
